<div class="row">
    <div class="col-lg-10 col-md-10 col-sm-12 col-xs-12 center-block">



        <ul class="ng-cloak list-inline voice" ng-repeat="(key, value) in profiles | groupBy:'voiceText'">
            <h3>{{key}}</h3>
            <li ng-repeat="profile in value | orderBy:'name'" class="list-unstyled ng-cloak profiles">
                <div class="profile">
                    <div>
                        <img onerror="if (this.src != '/default.jpg' ) this.src='/default.jpg'" class="ng-cloak" ng-src="/profile/image/{{profile.id}}" width="75"/>
                    </div>
                    <div class="profileTexts">
                        <div class="profileName">
                            <h4><a ng-click="showProfile(profile.id)" href>{{profile.name}}</a> <span ng-if="profile.loggedIn">(Du)</span></h4>

                        </div>
                        <div ng-if="profile.started" class="age ng-cloak">{{currentYear - profile.started}} år i kören</div>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>
<div class="row">
    <div class="col-lg-10 col-md-10 col-sm-12 col-xs-12 center-block">
        <div class="ng-cloak" ng-if="user.admin"><a href="#" ng-click="toggleAdmin()">Lägg till ny profil</a></div>
        <div class="ng-cloak" ng-if="showAdmin">

            <div class="form-group">
                <label for="name">Namn</label>
                <input class="form-control" id="name" ng-model="newProfile.name" name="name"/>
            </div>
            <div class="form-group">
                <label for="voice">Stämma</label>
                <select id="voice" ng-model="newProfile.voice" ng-options="voice as title for (voice, title) in voices" ></select>
            </div>
            <div class="form-group">
                <label for="email">Email</label>
                <input class="form.control" id="email" ng-model="newProfile.email" name="email" />
            </div>
            <div class="form-group">
                <label for="phone">Email</label>
                <input class="form.control" id="phone" ng-model="newProfile.phoneNumber" name="email" />
            </div>
            <div class="form-group">
                <label for="address">Adress</label>
                <textarea id="address" class="form-control" rows="4" cols="30" ng-model="newProfile.address" ></textarea>
            </div>
            <form id="imageForm">
                <div class="form-group">
                    <label for="image">Bild</label>
                    <input type="file" ngf-select ng-model="newImage.myImage" name="file" id="image"
                           accept="image/*" >
                </div>

            </form>
            <button ng-click="save()" type="submit" class="btn btn-sm btn-success" value="Ny profil" >Ny profil</button>
        </div>
    </div>

</div>